# Combine Data
This section will combine the ML ready data sets and add a year column indicating which year's file the observations originated from.

In [1]:
#### Reference: Snippets of this code block was taken directly from Jake Drew git repository: https://github.com/jakemdrew ####

#import required Libraries
import pandas as pd
import numpy as np
import os
import string

#**********************************************************************************
# Set the following variables before running this code!!!
#**********************************************************************************

#Location where copies of the raw data files will be downloaded and saved as csv files.
dataDir = 'C:/Users/flip/Desktop/SMU/MSDS7331/data/'

In [2]:
#### Reference: Snippets of this code block was taken directly from Eric Larson git repository: https://github.com/eclarson ####
#### Reference: https://stackoverflow.com/questions/12555323/adding-new-column-to-existing-dataframe-in-python-pandas

df_2014hsML = pd.read_csv(dataDir + 'PublicHighSchools2014_ML.csv') # read in the csv file
df_2014hsML['year'] = 2014

df_2015hsML = pd.read_csv(dataDir + 'PublicHighSchools2015_ML.csv') # read in the csv file 
df_2015hsML['year'] = 2015

df_2016hsML = pd.read_csv(dataDir + 'PublicHighSchools2016_ML.csv') # read in the csv file 
df_2016hsML['year'] = 2016

df_2017hsML = pd.read_csv(dataDir + 'PublicHighSchools2017_ML.csv') # read in the csv file 
df_2017hsML['year'] = 2017

In [3]:
#### Reference https://pandas.pydata.org/pandas-docs/stable/merging.html
frames = [df_2014hsML, df_2015hsML, df_2016hsML, df_2017hsML]
df_hsML = pd.concat(frames)

In [4]:
df_hsML.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1904 entries, 0 to 469
Columns: 520 entries, 0-3 Years_LEA_Exp_Pct_Prin to year
dtypes: float64(498), int64(22)
memory usage: 7.6 MB

In [5]:
df_hsML.describe()

,0-3 Years_LEA_Exp_Pct_Prin,09_Size,10+ Years_LEA_Exp_Pct_Prin,10_Size,11_Size,12_Size,4-10 Years_LEA_Exp_Pct_Prin,4-Year Cohort Graduation Rate Score,AAVC_Concentrator_Ct,ACT Score,...,student_num,tchyrs_0thru3_pct,tchyrs_11plus_pct,tchyrs_4thru10_pct,total_specialized_courses,unit_code,univ_college_courses,wap_num,wap_per_classroom,year
count,1904.000000,470.000000,1904.000000,470.000000,470.000000,470.000000,1904.000000,948.000000,470.000000,948.000000,...,1904.000000,1904.000000,1904.000000,1904.000000,1904.000000,1904.000000,1904.000000,948.000000,948.000000,1904.000000
mean,0.442808,18.251064,0.142911,17.534043,17.117021,15.623404,0.414340,87.746835,12.089362,59.534810,...,849.853466,0.219274,0.532903,0.246782,0.908305,510742.404937,0.173449,63.700422,1.275063,2015.494748
std,0.145207,8.414169,0.090562,9.269129,8.807896,9.262385,0.129701,16.982233,28.321421,21.524129,...,588.307262,0.117786,0.131807,0.098761,0.194344,279912.990415,0.307820,41.703420,0.766713,1.115492
min,0.111000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.000000,0.000000,0.000000,0.000000,0.000000,10303.000000,0.000000,0.000000,0.000000,2014.000000
25%,0.341000,16.000000,0.087000,15.000000,14.000000,11.000000,0.346000,85.000000,0.000000,47.000000,...,326.500000,0.148000,0.455000,0.193000,0.872518,280330.000000,0.000460,26.750000,1.000000,2014.750000
50%,0.427000,20.000000,0.135000,20.000000,20.000000,18.000000,0.438000,90.000000,0.000000,59.000000,...,783.500000,0.204000,0.543000,0.239000,1.000000,490380.000000,0.032981,64.000000,1.210000,2015.000000
75%,0.500000,23.000000,0.192000,23.000000,24.000000,22.000000,0.500000,95.000000,12.000000,73.000000,...,1221.250000,0.273250,0.618000,0.292000,1.000000,761304.000000,0.134928,88.000000,1.410000,2016.000000
max,1.000000,94.000000,0.667000,92.000000,30.000000,36.000000,0.857000,100.000000,319.000000,100.000000,...,2966.000000,1.000000,1.000000,0.857000,1.000000,995330.000000,1.000000,224.000000,13.000000,2017.000000

In [6]:
# Write to .csv 
df_hsML.to_csv(dataDir + 'df_hsML.csv', sep=',', index=False)